{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container_fluid" style="background-color:white; padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px;">
        <div style="text-align:center; font-size:30px;">
            <span style="font-size:40px; font-family: 'italic', cursive; text-align:center;">Pitch</span>
        </div>
        <div> 
                <div class="card">
                        <div class="card-body">
                
                            <p class="card-text"><a href="{{url_for('main.interview')}}" style="font-family: 'italic', cursive; font-size:20px; , text-align:center">
                                    <br>
                                    Interview Pitches
                                </a></p>
                        </div>
                </div>
                    <br>
                    <div class="card">
                            <div class="card-body">
                    
                                <p class="card-text">
                    <a href="{{url_for('main.promotion')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        Promotion Pitches
                    </a></p>
                </div>
        </div>
                    <br>
                    <div class="card">
                            <div class="card-body">
                    
                                <p class="card-text">
                    <a href="{{url_for('main.product')}}" style="font-family: 'Joti One', cursive; font-size:20px; ">
                        <br>
                        Product Pitches
                    </a></p>
                </div>
        </div>
                    <br>
        </div>
        <div >
            <div class=" style="style="border: 3px solid #f2f2f2;">
                <p style="font-family: 'Bellefair', serif; font-size:20px; text-align:center;">Write your on</p>
                
                <div style="text-align:center;">
                        <div class="card">
                                <div class="card-body">
                        
                                    <p class="card-text">
                    <a href="{{url_for('main.new_pitch')}}">
                        <br>
                        <button style="font-size:15px;" >Add a new Pitch</span>
                    </a></p>
                </div>
        </div>

                </div>
            
            </div>
            
        </div>
    </hr>
        <div class="all-pitches">
            <span style="color:gainsboro;">All pitches are displayed below</span>
                <hr> 
                {{macro.displayPitches(pitches)}}
            

        </div>

    </div>

    {% endblock %}