{% macro displayPitches(pitches_list) %}

    {% for pitch in pitches_list %}
    <div class="container border border-warning">
        <div class="card-body align-self-center mx-auto text-center" style="background-color: white; ">
            <p class="card-text justify-content-center" >{{pitch.pitch}}</p>
            <hr>
            <br>
          <p>
            <a href="{{url_for('main.new_comment',id=pitch.id)}}">
              <button type="button" class="btn btn-outline-warning waves-effect">Add a Comment</button>
            </a>
          </p>

          <p>
            <a href="{{url_for('main.view_comments',id=pitch.id)}}">
              <button type="button" class="btn btn-outline-warning waves-effect">View Comments</button>
            </a>
          </p>

          <p>
            <a href="{{url_for('main.new_comment',id=pitch.id)}}">
              <button type="button" class="btn btn-outline-warning waves-effect">Vote</button>
            </a>
          </p>
        </div>
      </div> 
    {% endfor %}

{% endmacro %}

<!-- Displaying comments macro -->
{% macro displayComments(list_of_comments) %}
{% for comment in list_of_comments  %}
<div class="row border border-warning">
    
          <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
            <h4>Author</h4>
            <p>{{comment.user.username}}</p>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <h2> <a href="{{url_for('main.single_comment',id=comment.id)}}">{{comment.pitch_title}}</a> </h2>
          </div>
        </div>

{% endfor %}
{% endmacro %}

{% macro displayPitchesInCategories(pitches,id)%}
  {% for pitch in pitches %}
    {% if pitch.category_id==id%}
        <div class="panel align-self-center mx-auto text-center border border-warning"style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px; border-style: solid;">
            <p>{{pitch.pitch}}</p>
            <p>
              <a href="{{url_for('main.new_comment',id=pitch.id)}}">
                <button type="button" class="btn btn-outline-warning waves-effect">Add a Comment</button>
              </a>
            </p>
  
            <p>
              <a href="{{url_for('main.view_comments',id=pitch.id)}}">
                <button type="button" class="btn btn-outline-warning waves-effect">View Comments</button>
              </a>
            </p>
  
            <p>
              <a href="{{url_for('main.new_comment',id=pitch.id)}}">
                <button type="button" class="btn btn-outline-warning waves-effect">Vote</button>
              </a>
            </p>
        </div>
    {% endif%}
  {% endfor %}
{% endmacro%}
